h1,h2 {
  font-family: 'Jeju Gothic', serif;
}

.cy{
  background-color: #edeff2;
  height: 700px;
}

.question{
  margin-top: 50px;
}

.article-content{
  color: #1f3263;
  font-size: 16px;
  margin-bottom: 100px;
  /* min-height: 350px; */
}

.important{
  border: solid 4px yellow;
}
