<% include ../partial/header %>
<% include ../partial/nav %>
<div class="body_contents">
<div class="container">
  <div class="jumbotron">
    <h1>QUESTION 2.1 ~ 2.4)</h1>
    <h2>각 맵에 대해 상세 평가 </h2>
    <p>Map<%=String.fromCharCode('A'.charCodeAt(0)+now)%>에 대해 평가합니다.</p>
    <p><a class="btn btn-primary btn-lg" href="/userstudy/cohMap" role="button"> Next</a></p>
  </div>

</div>

<% include ../partial/footer %>
