<% include ../partial/header %>
<style type="text/css">

</style>
<% include ../partial/nav %>

<div class="container">
  <div class="jumbotron">
    <h1>감사합니다.</h1>
    <p>User study에 참여해주셔서 감사합니다.</p>
  </div>

</div>
<% include ../partial/footer %>
