<% include ../partial/header %>
<link rel="stylesheet" href="/ucss/common.css">
<style type="text/css">
.login_form{
  padding-top: 100px;
  padding-bottom: 500px;
}
</style>
<% include ../partial/nav %>
<div class="body_contents">

<script type="text/javascript">
$(function () {
   if (<%=passed%> === 3) {
      alert("잘못된 ID입니다. 다시 로그인해주세요.");
   }
   else if (<%=passed%> === 2) {
      alert("이미 참여하셨습니다.");
   }
 });
</script>

<div class="container">
  <div class="jumbotron question">
    <h1>User Study</h1>
    <h2>News Map과 상대 method인 Trains of Thoughts의 Map을 비교하기 위한 User Study입니다.</h2>
    <p>제공된 id로 로그인하시면 평가를 시작하실 수 있습니다.</p>
    <form action="/login" method="post" class="form-inline">
      <div class="form-group from-group-lg">
        <label for="id" class="control-label"> ID를 입력하세요 </label>
        <input class="form-control input-lg" type="text" placeholder="id" name="id">
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Login</button>
      </div>
    </form>
  </div>


</div>
<% include ../partial/footer %>
