<% include ../partial/header %>
<link rel="stylesheet" href="/ucss/common.css">
<style type="text/css">
      .answers{
          height: 100px;
          overflow-y: scroll;
        }
</style>
<% include ../partial/nav %>

<script>
  history.pushState(null, null, location.href);
  window.onpopstate = function(event) {
    history.go(1);
  };
</script>

<div class="body_contents">
<div class="container">
  <div class="jumbotron question">
    <h1>Question <%=1+now%>.<%=1+idx%>)</h1>
    <h2>내용이 중복되는 타임라인을 모두 고르세요</h2>
    <p>엣지를 우클릭하면 선택됩니다.</p>
    <form action="/sendQ3" method="post">
      <%# <div class="answers" id="redtl" >

      </div> %>
      <input type="hidden" name="topics" id="topics">
      <input type="hidden" name="topicsN" id="topicsN">
      <button class="btn btn-lg">Next</button>
    </form>
  </div>

  <div class="container">
      <div class="cy" id="cy" value="<%=dataset%>">

      </div>
    </div>

    <div class="container" >
      <div class="title text-center">
        <h2 id="title"></h2>
        <h4 id="date"></h4>
      </div>
      <p class="article-content text-center" id="contents">
        뉴스를 클릭하시면 기사를 살펴볼 수 있습니다
      </p>
    </div>
</div>


<script src="/ujs/redcyto.js"></script>
<% include ../partial/footer %>
