<% include ../partial/header %>
<link rel="stylesheet" href="/ucss/common.css">
<% include ../partial/nav %>

<div class="body_contents">
<div class="container">
  <div class="jumbotron question">
    <h1>Result</h1>

  </div>

  <div class="container">
    <%
    for(var key in data){%>
      <h2><%=key%></h2>
    <%
      data[key].forEach(function(d){ %>
        <div class="col-sm-6">
          <h3><%=d.datasetId%></h3>
          <h4><%=d.best%></h4>
          <h4><%=d.incohA%></h4>
        </div>
  <%  });
    }
    %>
  </div>


</div>


<% include ../partial/footer %>
