<% include partial/header %>
<link rel="stylesheet" href="/css/demo.css">

<% include partial/nav %>
  <div class="body_contents">
    <div class="search">
      <div class="search_con container" >
          <h1>THIS IS NEWS MAP</h1>
        </div>
      </div>


    <div class="container">
      <div class="ec_btn pull-right">
        <button class="btn btn-primary active " type="button" name="button" id="expandAll">Expand All</button>
        <button class="btn btn-default active" type="button" name="button" id="collapseAll">Collapse All</button>
      </div>
    </div>
    <div class="container">
      <div class="cy" id="cy">

      </div>
    </div>

    <div class="container" >
      <div class="title text-center">
        <h2 id="title"></h2>
        <h4 id="date"></h4>
      </div>
      <p class="article-content text-center" id="contents">
        키워드를 검색하신 후, 뉴스를 클릭하시면 기사를 살펴볼 수 있습니다
      </p>
    </div>
    <script src="js/cytod.js"></script>
<% include partial/footer %>
