<% include partial/header %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="/script/animate.css/animate.css">
<link rel="stylesheet" href="/css/main.css">
<script src="/script/wowjs/dist/wow.min.js"></script>
<script>
new WOW().init();
</script>

<% include partial/nav %>

<div class="body_contents">


  <div class="m_search">
      <div class="m_search_con wow bounceIn" >
        <h1>THIS IS NEWS MAP</h1>
        <div class="m_subheading">
          News map application
        </div>
        <div class="row with-margin">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form class="input-group input-group-lg" action="/search" method="get">
              <input type="text" class="form-control input-lg" name="sQuery" placeholder="Enter Keywords">
              <span class="input-group-btn">
                <button class="btn btn-search btn-lg" type="submit">make a News Map for Me!</button>
              </span>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
  </div>


  <div class="container">
    <div class="m_intro">
      <div class="intro_header">
        What We do
      </div>
      <div class="row intro_con">
        <div class="col-sm-4">
          <div class="intro_box">
            <div class="icon">
              <span class="glyphicon glyphicon-eye-open"></span>
            </div>
            <div>
              <div class="intro_title">At a glance</div>
              <p class="intro_detail  wow fadeInUp">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 ">
          <div class="intro_box">
            <div class="icon">
              <span class="glyphicon glyphicon-fullscreen"></span>
            </div>
            <div>
              <div class="intro_title">zoomable</div>
              <p class="intro_detail  wow fadeInUp">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 ">
          <div class="intro_box">
            <div class="icon">
              <i class="far fa-map"></i>
            </div>
            <div>
              <div class="intro_title">well organized</div>
              <p class="intro_detail wow fadeInUp">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<% include partial/footer %>
