<%# /***********************************************************************
  TopicMap : a Web application for people who want to generate and visualize news map.
  Authors: Sumin Hong(hsue0606@gmail.com), U Kang (ukang@snu.ac.kr)
  Data Mining Lab., Seoul National University

-------------------------------------------------------------------------
File: upload.ejs
 - A layout file for upload page of TopicMap.

Version: 1.0
***********************************************************************/ %>

<% include partial/header %>
<link rel="stylesheet" href="/css/search.css">

<% include partial/nav %>
<div class="body_contents">
    <div class="search">
      <div class="search_con container" >
          <h1>TOPIC MAP</h1>
      </div>
    </div>

    <div class="container">
      <form action="upload" method="post" enctype="multipart/form-data">
        <label for="data"><h2>Choose <b>dataset</b> file</h2></label>
        <input type="file" id="data" name="dataset" class="btn btn-default btn-lg">
        <label for="result"><h2>Choose <b>result</b> file</h2></label>
        <input type="file" id="result" name="sample" class="btn btn-default btn-lg">
        <br/>
        <input type="submit" class="btn btn-default btn-lg" value="Upload">
      </form>
    </div>

<% include partial/footer %>
