<script src="/ujs/cytostyle.js"></script>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-contents col-sm-6">
        <h5 class="footer-title">ABOUT TOPIC MAP</h5>
        <p>TopicMap is a Web application for people who want to generate and visualize news map. This software is free of charge under research purposes.
        For commercial purposes, please contact the authors.</p>
      </div>
      <div class="footer-contents col-sm-6">
        <h5>CONTACT US</h5>
        <p>Room 301-519 at Seoul National University,<br /> 1 Gwanak-ro, Gwanak-gu, Seoul, Republic of Korea 08826 (151-744).<br/>Tel: +82-2-880-7263</p>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="copyright-content">
      <h5>Copyright © 2019, By Data Mining Laboratory.</h5>
    </div>
  </div>
  </div>
</div>
</body>
</html>
