<script src="/ujs/cytostyle.js"></script>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-contents col-sm-6">
        <%# <h5 class="footer-title">ABOUT NEWS MAP</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p> %>
      </div>
      <div class="footer-contents col-sm-6">
        <h5>CONTACT US</h5>
        <p>Room 301-519 at Seoul National University, 1 Gwanak-ro, Gwanak-gu, Seoul, Republic of Korea 08826 (151-744). Tel: +82-2-880-7263</p>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="copyright-content">
      <h5>Copyright © 2017, By Data Mining Laboratory.</h5>
    </div>
  </div>
  </div>
</div>
</body>
</html>
