<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>NC news Map</title>

    <script src="script/jquery/dist/jquery.js"></script>
    <script src="script/cytoscape/dist/cytoscape.min.js"></script>
    <script src="script/cytoscape-expand-collapse/cytoscape-expand-collapse.js"></script>
    <script src="script/cytoscape-node-html-label/dist/cytoscape-node-html-label.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/common.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">NEWS MAP</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="#">Home</a> </li>
          <li> <a href="#">Search</a> </li>
        </ul>
      </div>
    </nav>
